@import 'utilities.css';
:root{
    --prmary: #3dcfd3;
    --dark: #161616;
    --pure: #ffffff;
    --ternery: #898989;
    --light: #f2f2f2; 
    --secondary: #070606
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}

header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;

}
header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .4s ease;
}
header nav .left a:hover{
    color: var(--prmary);
}
header nav{
    padding: 2rem 0;
}
header nav .logo{
    margin-right: 3rem;
}
.hero{
    padding: 1.5rem 0;
}
.hero .left img{
    width: 400px;
}
.hero .right{
    color: var(--pure);
}
.hero .right h6{
    font-size: 1.6rem;
    color: var(--prmary);
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.hero .right{
    margin-top: -7rem;
}
section{
    padding: 6rem 0;
}
section.about .about-me-img{
    height: 350px;
}
section.about .about-me-img h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--prmary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--ternery);
    line-height: 1.9;
    margin-bottom: 2rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .4s ease;
}
section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    filter: invert();
}
section.about .social a:hover{
    background: var(--prmary);

}
.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading span{
    color: var(--prmary);
}
.section-heading + p{
    color: var(--ternery);
    margin-bottom: 8rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
section.services{
    background: var(--light);
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
}
section.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 6rem;
    text-align: center;
    transition: all .4s ease;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color: var(--ternery);
    line-height: 1.6rem;
}
section.services .card-wrapper .card:hover{
    background: var(--dark);
}
section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p{
    color: var(--pure);
}
section.developer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/camera.png);
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 84%, 0 100%);
    padding-bottom: 14rem;
}
section.developer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.developer p{
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
}
section.work{
    background: var(--light);
}
section.work .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}
section.work .card-wrapper .card{
    position: relative;
    height: 250px;
}
section.work .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 207, 211, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light);
    opacity: 0;
    transition: all .4s ease;
}
section.work .card-wrapper .card .overlay a{
    color: var(--secondary);
    text-decoration: none;
}
section.work .card-wrapper .card:hover .overlay{
    opacity: 1;

}
section.work .card-wrapper .card img{
    height: 100%;
    width: 100%;
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternery);
    font-weight: 400;
}
footer{
    background: var(--dark);
    text-align: center;
    align-items: center;
    padding: 5rem 0;
}
footer .footer-social{
    display: flex;
    margin-bottom: 2rem;
}
footer .footer-social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    filter: invert();
}
footer .footer-logo{
    margin: 3rem;
    width: 150px;
}
footer .footer-social a{
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .4s ease;
    margin-right: 1rem;
    text-decoration: none;
}
footer .footer-social a:hover{
    background: var(--prmary);
}
footer .copyright{
    color: var(--ternery);
}

@media (max-width: 824px){
    header #main-nav{
        display: none;
    }
}

.site-main-wrapper{
    position: relative;
}
.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

}
.hamberger img{
    width: 30px;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}
.mobile-nav ul{
    list-style-type: none;
}
.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}
.open{
    transform: translateX(0);
}
.times{
    position: fixed;
    top: 30px;
    right: 30px;
    background: none;
    outline: none;
    cursor: pointer;
    border: none;
}
.times img{
    width: 30px;
}